parameters:
	level: max
	paths:
		- src
		- tests
	excludePaths:
		analyseAndScan:
			- tests/_data
			- tests/_output
		analyse:
			- tests/_support/_generated
	ignoreErrors:
		-
			message: '#Cannot call method getArgument\(\) on Slim\\Interfaces\\RouteInterface\|null#'
			path: src/**/Api/*
includes:
	- vendor/nextras/orm-phpstan/extension.neon
	- vendor/phpstan/phpstan-nette/extension.neon
